apiVersion: v1
kind: Service
metadata:
  name: backend-api
  labels:
    app: backend-api
spec:
  selector:
    app: backend-api
  ports:
    - port: {{ .Values.backend.service.port }}        # Puerto del Service
      targetPort: {{ .Values.backend.service.targetPort }} # Puerto real del contenedor
